html, body {
  width: 100%;
  font-family: 'Averia Sans Libre', cursive;
  background-color: white;
}
#footer-rocky-burger-logo-text {
  padding-top: 1em;
}
#burger-hero {
  height: 40%;
  width: 80%;
}
.heroJpg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#locations {
  padding-top: 1em;
  padding-bottom: 1em;
}
.location-ul {
  list-style-type: none;
}
#menu-shake-kids {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-shakes {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-cones {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-drinks {
  padding-top: 1em;
}
#menu-subt-chicken {
  padding-top: 1em;
  padding-bottom: 1em;
}

#menu-fries-dip {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-fries {
  padding-top: 1em;
  padding-bottom: 1em;
}

#menu-subt-burgers {
  padding-top: 1em;
  padding-bottom: 1em;
}
#nav-logo {
  height: 4em;
  width: 40;
}

#container_nav {
  width: 100%;
  padding: 0%;
}

nav {
  width: 100%;
  background-color: #3c3d41;
}

.bestQuality {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}