html, body {
  width: 100%;
  font-family: 'Averia Sans Libre', cursive;
  background-color: white;
}
p {
  font-size: 1.15em;
}
hr {
  width: 75%;
}
h1, h4 {
  color: #D59539;
}
.about-main {
  padding-top: 3em;
  padding-right: 3em;
  padding-bottom: 0em;
  padding-left: 3em;
}
#about-quote {
  color: #D59539;
  padding: 2em;
}
#faq-main-container {
  justify-items: center;
  width: 100%;
  height: 100%;
  padding-left: 3em;
  padding-right: 3em;
}
#faq-subt {
  padding-top: 1em;
  padding-bottom: 1em;
}
.btn-primary {
  background-color: #D59539;
}
#jobs-form-container {
  padding-left: 8em;
  padding-right: 8em;
}
#jobs-subt-jobs {
  padding-top: 1em;
  padding-bottom: 3em;
}
#modal-title {
  padding-left: 1.4em;
}
.modal-content {
  background-color: #3c3d41;
}
#footer-rocky-burger-logo-text {
  padding-top: 1.2em;
}
#burger-hero {
  height: 40%;
  width: 80%;
}
.heroJpg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#locations-lehi-box, #locations-provo-box, #locations-sandy-box, #locations-dntn-box {
  padding-top: 3em;
}
#locations-title {
  padding-top: .5em;
}
#locations {
  padding-top: 1em;
  padding-bottom: 1em;
}
.location-ul {
  list-style-type: none;
}
#menu-shake-kids {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-shakes {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-cones {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-drinks {
  padding-top: 1em;
}
#menu-subt-chicken {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-fries-dip {
  padding-top: 1em;
  padding-bottom: 1em;
}
#menu-subt-fries {
  padding-top: 1em;
  padding-bottom: 1em;
}
.menu-toppings {
  padding-top: 0.5em;
}
#menu-subt-burgers {
  padding-top: 1em;
  padding-bottom: 1em;
}
#nav-logo {
  height: 4em;
  width: 40;
}

#container_nav {
  width: 100%;
  padding: 0%;
}

nav {
  width: 100%;
  background-color: #3c3d41;
}

.bestQuality {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}